name: Pull request checks

on:
  pull_request:
    branches: [ main ]

jobs:
  check-title:
    runs-on: ubuntu-latest
    steps:
      - name: Check title name convention
        uses: jef/conventional-commits-pr-action@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          steps:

  check-code:
    runs-on: ubuntu-latest
    - name: Check out code
      uses: actions/checkout@v2
    
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ".[dev]"

    - name: Run pre-commit checks
      uses: pre-commit/action@v2.0.3
      with:
        extra_args: --all-files

    - name: Run unit tests
      run: |
        pytest --cov=src/ tests/unit --cov-report=xml

    - name: Upload coverage report
      uses: actions/upload-artifact@v2
      with:
        name: pytest-coverage-report
        path: coverage.xml